* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* for andriod devices */
html {
  height: fill-available;
  height: -webkit-fill-available;
}

body {
  background-color: black;
  min-height: 100vh;
  /* for andriod devices */
  min-height: fill-available;
  min-height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-div {
  flex: 2;
}

.button-div {
  flex: 1;
}

img {
  height: 400px;
}

/* button {
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 32px;
  width: 300px;
  height: 100px;
  background-color: blue;
  border: 0;
  border-radius: 24px;
} */

/* button:active {
  transform: scale(0.9);
} */

/* CSS */
.button-9 {
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    Ubuntu, sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all 0.2s, box-shadow 0.08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  /* width: 100%; */
  /* height: 44px; */
  width: 300px;
  height: 100px;
  font-size: 32px;
}

.button-9:disabled {
  cursor: default;
}

.button-9:active {
  transform: scale(0.95);
}
.button-9:focus {
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.2) 0 6px 15px 0, rgba(0, 0, 0, 0.1) 0 2px 2px 0,
    rgba(50, 151, 211, 0.3) 0 0 0 4px;
}
